{% extends 'base.html' %}
{% block content %}
<section class="login-page">
    <h3 class="h3-font">{{ title }}</h3>
    <form method="post">
        {% csrf_token %}
        <h3 class="h3-font">{{ form.old_password.label }} {{ form.old_password }}</h3>
        <h3 class="h3-font">{{ form.new_password1.label }} {{ form.new_password1 }}</h3>
        <h3 class="h3-font">{{ form.new_password1.help_text }}</h3>
        <h3 class="h3-font" style="display: inherit">{{ form.new_password2.label }} {{ form.new_password2 }}</h3>
        <label style="margin-left: 30%">
            <input type="submit" class="btn" name="change_password" value="Zmień hasło">
        </label>
    </form>
</section>
{% endblock %}