{% extends 'base.html' %}
{% block content %}
<section class="login-page">
    <h3 class="h3-font">Edytuj dane</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>
                <input type="text" name="first-name" placeholder="Imię" />
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="text" name="last-name" placeholder="Nazwisko" />
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="text" name="email" placeholder="E-mail" />
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="submit" id="user_edit" name="user_edit" value="Edytuj" />
            </label>
        </div>
        <div class="pop-up-container">
            <div class="pop-up">
                <div class="pop-up-text">Edycja danych wymaga podania hasła.</div>
                <label><input type="password" name="edit_pwd"></label>
                <button name="edit_user_confirm">Gotowe</button>
                <button name="edit_user_cancel">Anuluj</button>
            </div>
        </div>
    </form>
    {% if response %}
        <div id="success_message" class="success-message">
            <span>{{ response }}</span>
        </div>
    {% endif %}
    <br /><br />
    <h3 class="h3-font">Zmiana hasła<br /><br /><a href="{% url 'change-password' %}">KLIK</a></h3>
    {% if title %}
        <h3 class="h3-font">{{ title }}</h3>
    {% endif %}
</section>

{% endblock %}