{% extends 'base.html' %}
{% block content %}
<section id="user_profile">

    <div class="col">
        <h2>Nick: {{ user.username }}</h2>
        <h2>Imię: {{ user.first_name }}</h2>
        <h2>Nazwisko: {{ user.last_name }}</h2>
        <h2>Email: {{ user.email }}</h2>
    </div>

    <div class="col">
        <div><h3 class="h3_font">Przekazane dary:</h3>
            <ul id="not_taken">
                {% for donation in donations %}
                    {% if donation.is_taken is False %}
                        <div class="donation" data-divdonationid="{{ donation.id }}">
                            <h3>Nazwa instytucji: {{ donation.institution.name }},</h3>
                            <h3>Ilość przekazanych worków: {{ donation.quantity }},</h3>
                            <h3>Kategorie przekazanych darów: {% for don in donation.categories.all %} {{ don.name }}, {% endfor %}</h3>
                            <h3>Data odbioru: {{ donation.pick_up_date }},</h3>
                            <h3>Godzina odbioru: {{ donation.pick_up_time }}.</h3>
                            <h3>Odebrany: <label><input type="checkbox" name="is_taken" data-donationid="{{ donation.id }}" autocomplete="off"></label></h3>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
            <br /><br />
            <ul id="taken">
                {% for donation in donations %}
                    {% if donation.is_taken is True %}
                        <div class="donation donation-complete" data-divdonationid="{{ donation.id }}">
                            <h3>Nazwa instytucji: {{ donation.institution.name }},</h3>
                            <h3>Ilość przekazanych worków: {{ donation.quantity }},</h3>
                            <h3>Kategorie przekazanych darów: {% for don in donation.categories.all %} {{ don.name }}, {% endfor %}</h3>
                            <h3>Data odbioru: {{ donation.pick_up_date }},</h3>
                            <h3>Godzina odbioru: {{ donation.pick_up_time }}.</h3>
                            <h3>Odebrany <label hidden><input type="checkbox" name="is_taken" data-donationid="{{ donation.id }}" checked></label></h3>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}